# Join 2023 stop and search data to LSOA boundaries
- Follow same process as 03_LSOA for historic data 
- load 2025_LSOA counts and merge

In [11]:
from pathlib import Path
import geopandas as gpd


zip_path = Path("../data/raw/statistical-gis-boundaries-london.zip")

shp_inside_zip = "statistical-gis-boundaries-london/ESRI/LSOA_2011_London_gen_MHW.shp"



lsoa = gpd.read_file(f"zip://{zip_path}!{shp_inside_zip}")

# Check
print(lsoa.head())
print(lsoa.crs)

    LSOA11CD                   LSOA11NM   MSOA11CD                  MSOA11NM  \
0  E01000001        City of London 001A  E02000001        City of London 001
1  E01000002        City of London 001B  E02000001        City of London 001
2  E01000003        City of London 001C  E02000001        City of London 001
3  E01000005        City of London 001E  E02000001        City of London 001
4  E01000006  Barking and Dagenham 016A  E02000017  Barking and Dagenham 016

     LAD11CD               LAD11NM    RGN11CD RGN11NM  USUALRES  HHOLDRES  \
0  E09000001        City of London  E12000007  London      1465      1465
1  E09000001        City of London  E12000007  London      1436      1436
2  E09000001        City of London  E12000007  London      1346      1250
3  E09000001        City of London  E12000007  London       985       985
4  E09000002  Barking and Dagenham  E12000007  London      1703      1699

   COMESTRES  POPDEN  HHOLDS  AVHHOLDSZ  \
0          0   112.9     876        1.7
1          0    62.9     830        1.7
2         96   227.7     817        1.5
3          0    52.0     467        2.1
4          4   116.2     543        3.1

                                            geometry
0  POLYGON ((532105.092 182011.23, 532162.491 181...
1  POLYGON ((532746.813 181786.891, 532671.688 18...
2  POLYGON ((532135.145 182198.119, 532158.25 182...
3  POLYGON ((533807.946 180767.77, 533649.063 180...
4  POLYGON ((545122.049 184314.931, 545271.917 18...
PROJCS["OSGB36 / British National Grid",GEOGCS["OSGB36",DATUM["Ordnance_Survey_of_Great_Britain_1936",SPHEROID["Airy 1830",6377563.396,299.3249646,AUTHORITY["EPSG","7001"]],AUTHORITY["EPSG","6277"]],PRIMEM["Greenwich",0],UNIT["Degree",0.0174532925199433]],PROJECTION["Transverse_Mercator"],PARAMETER["latitude_of_origin",49],PARAMETER["central_meridian",-2],PARAMETER["scale_factor",0.999601272],PARAMETER["false_easting",400000],PARAMETER["false_northing",-100000],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]

In [12]:
#OK need to convert the CRS to work with lat long


lsoa = lsoa.to_crs("EPSG:4326")

In [13]:
#import stop and search data 

import pandas as pd

processed_dir = Path("../data/processed")
stop_search_file = processed_dir / "2023_stop_search_aggregated.csv"

stop_and_search_2023_data = pd.read_csv(stop_search_file)

print(stop_and_search_2023_data.head())

                        Type                       Date  \
0              Person search  2023-01-01T00:00:00+00:00
1              Person search  2023-01-01T00:01:00+00:00
2              Person search  2023-01-01T00:01:00+00:00
3  Person and Vehicle search  2023-01-01T00:02:00+00:00
4  Person and Vehicle search  2023-01-01T00:02:00+00:00

   Part of a policing operation  Policing operation   Latitude  Longitude  \
0                         False                 NaN  51.459946  -0.093261
1                         False                 NaN  51.528765  -0.216088
2                         False                 NaN  51.510468  -0.130769
3                         False                 NaN  51.502641  -0.000790
4                         False                 NaN  51.460105   0.113566

  Gender Age range                             Self-defined ethnicity  \
0   Male     18-24                    Other ethnic group - Not stated
1   Male     18-24  Black/African/Caribbean/Black British - Caribbean
2   Male     10-17                    Other ethnic group - Not stated
3   Male     18-24     Mixed/Multiple ethnic groups - White and Asian
4   Male       NaN                    Other ethnic group - Not stated

  Officer-defined ethnicity  \
0                     Black
1                     Black
2                     Other
3                       NaN
4                     Asian

                                         Legislation   Object of search  \
0  Police and Criminal Evidence Act 1984 (section 1)  Offensive weapons
1  Police and Criminal Evidence Act 1984 (section 1)       Stolen goods
2  Police and Criminal Evidence Act 1984 (section 1)          Fireworks
3              Misuse of Drugs Act 1971 (section 23)   Controlled drugs
4              Misuse of Drugs Act 1971 (section 23)   Controlled drugs

                        Outcome  Outcome linked to object of search  \
0  A no further action disposal                                 NaN
1   Penalty Notice for Disorder                                 NaN
2  A no further action disposal                                 NaN
3                        Arrest                                 NaN
4  A no further action disposal                                 NaN

   Removal of more than just outer clothing
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

In [14]:
#Convert dataframe to geodatafram

import geopandas as gpd
from shapely.geometry import Point

gdf = gpd.GeoDataFrame(
    stop_and_search_2023_data,
    geometry=[Point(xy) for xy in zip(stop_and_search_2023_data.Longitude, stop_and_search_2023_data.Latitude)],
    crs="EPSG:4326"
)

In [15]:
# Add LSOA data to geodataframe

joined = gpd.sjoin(
    gdf,
    lsoa,
    how="left",
    predicate="within"
)

In [16]:
#Check

print(joined[["LSOA11CD"]].head())

    LSOA11CD
0  E01004070
1  E01000586
2  E01004734
3  E01001667
4  E01000388

In [17]:
#Create counts for each area 

lsoa_counts = (
    joined
    .groupby("LSOA11CD")
    .size()
    .reset_index(name="stop_search_count")
)

In [18]:
# Add the counts to the polygons 

lsoa_map_2023 = lsoa.merge(
    lsoa_counts,
    on="LSOA11CD",
    how="left"
).fillna(0)

In [19]:
print(lsoa_map_2023.head())

    LSOA11CD                   LSOA11NM   MSOA11CD                  MSOA11NM  \
0  E01000001        City of London 001A  E02000001        City of London 001
1  E01000002        City of London 001B  E02000001        City of London 001
2  E01000003        City of London 001C  E02000001        City of London 001
3  E01000005        City of London 001E  E02000001        City of London 001
4  E01000006  Barking and Dagenham 016A  E02000017  Barking and Dagenham 016

     LAD11CD               LAD11NM    RGN11CD RGN11NM  USUALRES  HHOLDRES  \
0  E09000001        City of London  E12000007  London      1465      1465
1  E09000001        City of London  E12000007  London      1436      1436
2  E09000001        City of London  E12000007  London      1346      1250
3  E09000001        City of London  E12000007  London       985       985
4  E09000002  Barking and Dagenham  E12000007  London      1703      1699

   COMESTRES  POPDEN  HHOLDS  AVHHOLDSZ  \
0          0   112.9     876        1.7
1          0    62.9     830        1.7
2         96   227.7     817        1.5
3          0    52.0     467        2.1
4          4   116.2     543        3.1

                                            geometry  stop_search_count
0  POLYGON ((-0.09729 51.52158, -0.09652 51.52027...                0.0
1  POLYGON ((-0.08813 51.51941, -0.08929 51.51752...                3.0
2  POLYGON ((-0.09679 51.52325, -0.09647 51.52282...                0.0
3  POLYGON ((-0.07323 51.51, -0.07553 51.50974, -...               76.0
4  POLYGON ((0.09115 51.53909, 0.09326 51.53787, ...               15.0

In [21]:
lsoa_map_2023 = lsoa_map_2023.rename(columns={"stop_search_count" : "stop_search_c_2023"})

In [22]:
print(lsoa_map_2023.head())

    LSOA11CD                   LSOA11NM   MSOA11CD                  MSOA11NM  \
0  E01000001        City of London 001A  E02000001        City of London 001
1  E01000002        City of London 001B  E02000001        City of London 001
2  E01000003        City of London 001C  E02000001        City of London 001
3  E01000005        City of London 001E  E02000001        City of London 001
4  E01000006  Barking and Dagenham 016A  E02000017  Barking and Dagenham 016

     LAD11CD               LAD11NM    RGN11CD RGN11NM  USUALRES  HHOLDRES  \
0  E09000001        City of London  E12000007  London      1465      1465
1  E09000001        City of London  E12000007  London      1436      1436
2  E09000001        City of London  E12000007  London      1346      1250
3  E09000001        City of London  E12000007  London       985       985
4  E09000002  Barking and Dagenham  E12000007  London      1703      1699

   COMESTRES  POPDEN  HHOLDS  AVHHOLDSZ  \
0          0   112.9     876        1.7
1          0    62.9     830        1.7
2         96   227.7     817        1.5
3          0    52.0     467        2.1
4          4   116.2     543        3.1

                                            geometry  stop_search_c_2023
0  POLYGON ((-0.09729 51.52158, -0.09652 51.52027...                 0.0
1  POLYGON ((-0.08813 51.51941, -0.08929 51.51752...                 3.0
2  POLYGON ((-0.09679 51.52325, -0.09647 51.52282...                 0.0
3  POLYGON ((-0.07323 51.51, -0.07553 51.50974, -...                76.0
4  POLYGON ((0.09115 51.53909, 0.09326 51.53787, ...                15.0

In [23]:
# load 2025 data 

geo_stop_search_2025 = gpd.read_file("../data/processed/lsoa_stop_search.gpkg")

print(geo_stop_search_2025.head())

    LSOA11CD                   LSOA11NM   MSOA11CD                  MSOA11NM  \
0  E01000001        City of London 001A  E02000001        City of London 001
1  E01000002        City of London 001B  E02000001        City of London 001
2  E01000003        City of London 001C  E02000001        City of London 001
3  E01000005        City of London 001E  E02000001        City of London 001
4  E01000006  Barking and Dagenham 016A  E02000017  Barking and Dagenham 016

     LAD11CD               LAD11NM    RGN11CD RGN11NM  USUALRES  HHOLDRES  \
0  E09000001        City of London  E12000007  London      1465      1465
1  E09000001        City of London  E12000007  London      1436      1436
2  E09000001        City of London  E12000007  London      1346      1250
3  E09000001        City of London  E12000007  London       985       985
4  E09000002  Barking and Dagenham  E12000007  London      1703      1699

   COMESTRES  POPDEN  HHOLDS  AVHHOLDSZ  stop_search_count  \
0          0   112.9     876        1.7                0.0
1          0    62.9     830        1.7                0.0
2         96   227.7     817        1.5                0.0
3          0    52.0     467        2.1               18.0
4          4   116.2     543        3.1                8.0

                                            geometry
0  MULTIPOLYGON (((-0.09729 51.52158, -0.09652 51...
1  MULTIPOLYGON (((-0.08813 51.51941, -0.08929 51...
2  MULTIPOLYGON (((-0.09679 51.52325, -0.09647 51...
3  MULTIPOLYGON (((-0.07323 51.51, -0.07553 51.50...
4  MULTIPOLYGON (((0.09115 51.53909, 0.09326 51.5...

In [24]:
#check crs

print(geo_stop_search_2025.crs)
print(lsoa_map_2023.crs)

EPSG:4326
EPSG:4326

In [25]:
geo_stop_search_2025 = geo_stop_search_2025.rename(columns={'stop_search_count': 'stop_search_count_2025'}
)

In [29]:
merged_stop_search_2023_2025 = geo_stop_search_2025.merge(lsoa_map_2023[["LSOA11CD", "stop_search_c_2023"]], how="left", on=["LSOA11CD"])

print(merged_stop_search_2023_2025.head())

    LSOA11CD                   LSOA11NM   MSOA11CD                  MSOA11NM  \
0  E01000001        City of London 001A  E02000001        City of London 001
1  E01000002        City of London 001B  E02000001        City of London 001
2  E01000003        City of London 001C  E02000001        City of London 001
3  E01000005        City of London 001E  E02000001        City of London 001
4  E01000006  Barking and Dagenham 016A  E02000017  Barking and Dagenham 016

     LAD11CD               LAD11NM    RGN11CD RGN11NM  USUALRES  HHOLDRES  \
0  E09000001        City of London  E12000007  London      1465      1465
1  E09000001        City of London  E12000007  London      1436      1436
2  E09000001        City of London  E12000007  London      1346      1250
3  E09000001        City of London  E12000007  London       985       985
4  E09000002  Barking and Dagenham  E12000007  London      1703      1699

   COMESTRES  POPDEN  HHOLDS  AVHHOLDSZ  stop_search_count_2025  \
0          0   112.9     876        1.7                     0.0
1          0    62.9     830        1.7                     0.0
2         96   227.7     817        1.5                     0.0
3          0    52.0     467        2.1                    18.0
4          4   116.2     543        3.1                     8.0

                                            geometry  stop_search_c_2023
0  MULTIPOLYGON (((-0.09729 51.52158, -0.09652 51...                 0.0
1  MULTIPOLYGON (((-0.08813 51.51941, -0.08929 51...                 3.0
2  MULTIPOLYGON (((-0.09679 51.52325, -0.09647 51...                 0.0
3  MULTIPOLYGON (((-0.07323 51.51, -0.07553 51.50...                76.0
4  MULTIPOLYGON (((0.09115 51.53909, 0.09326 51.5...                15.0

In [34]:
#calcualte absolute chnage 

merged_stop_search_2023_2025['abs_change'] = (merged_stop_search_2023_2025['stop_search_count_2025'] - merged_stop_search_2023_2025['stop_search_c_2023'])

In [35]:
merged_stop_search_2023_2025.to_file('../data/processed/lsoa_change_2023_2025.gpkg')

In [36]:
merged_stop_search_2023_2025.describe()

,USUALRES,HHOLDRES,COMESTRES,POPDEN,HHOLDS,AVHHOLDSZ,stop_search_count_2025,stop_search_c_2023,abs_change
count,4835.000000,4835.000000,4835.000000,4835.000000,4835.000000,4835.000000,4835.000000,4835.000000,4835.000000
mean,1690.577249,1669.844881,20.732368,95.937497,675.526991,2.519090,25.956153,26.063702,-0.107549
std,263.566401,257.715521,80.966217,61.223649,133.601312,0.390042,56.583086,66.938171,41.887738
min,985.000000,878.000000,0.000000,1.200000,404.000000,1.400000,0.000000,0.000000,-1372.000000
25%,1530.000000,1512.000000,0.000000,51.950000,590.500000,2.300000,5.000000,4.000000,-5.000000
50%,1654.000000,1639.000000,0.000000,83.300000,653.000000,2.500000,12.000000,11.000000,1.000000
75%,1817.000000,1798.000000,11.000000,128.400000,750.000000,2.700000,26.000000,25.000000,8.000000
max,4933.000000,3063.000000,2172.000000,684.700000,1236.000000,4.100000,1383.000000,1966.000000,464.000000